CODE ALONGD - READ FROM EXCEL

In [27]:
import pandas as pd

df = pd.read_csv("data/calories.csv")
df.head()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ

In [28]:
df.head(3)

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ

In [29]:
df.tail()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
2220,Spreads,Sunflower Butter,100g,617 cal,2591 kJ
2221,Spreads,Tapenade,100g,233 cal,979 kJ
2222,Spreads,Unsalted Butter,100g,717 cal,3011 kJ
2223,Spreads,Vegemite,100g,180 cal,756 kJ
2224,Spreads,Wild Honey,100g,286 cal,1201 kJ

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   FoodCategory      2225 non-null   object
 1   FoodItem          2225 non-null   object
 2   per100grams       2225 non-null   object
 3   Cals_per100grams  2225 non-null   object
 4   KJ_per100grams    2225 non-null   object
dtypes: object(5)
memory usage: 87.0+ KB

In [30]:
df.describe()

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
count,2225,2225,2225,2225,2225
unique,44,1993,2,524,524
top,BakingIngredients,Horseradish,100g,250 cal,1050 kJ
freq,95,4,1802,26,26

In [31]:
df.columns

Index(['FoodCategory', 'FoodItem', 'per100grams', 'Cals_per100grams',
       'KJ_per100grams'],
      dtype='object')

In [39]:
df["FoodCategory"].value_counts()

FoodCategory
BakingIngredients                95
Cakes&Pies                       91
Herbs&Spices                     90
Beer                             85
Candy&Sweets                     81
Dishes&Meals                     78
Pastries,Breads&Rolls            78
Oatmeal,Muesli&Cereals           76
FastFood                         72
Vegetables                       63
Legumes                          62
Fish&Seafood                     60
Sauces&Dressings                 54
Fruits                           54
Cheese                           53
Soups                            52
Non-AlcoholicDrinks&Beverages    51
AlcoholicDrinks&Beverages        48
Sausage                          47
(Fruit)Juices                    46
Meat                             46
IceCream                         45
Soda&SoftDrinks                  45
CerealProducts                   44
Pizza                            43
Pasta&Noodles                    40
Yogurt                           40
Tropical&ExoticFruits            39
Nuts&Seeds                       39
Spreads                          39
Pork                             39
Wine                             39
PotatoProducts                   39
Beef&Veal                        39
Venison&Game                     36
ColdCuts&LunchMeat               35
SlicedCheese                     34
Offal&Giblets                    33
Milk&DairyProducts               33
Poultry&Fowl                     33
VegetableOils                    33
Oils&Fats                        30
CannedFruit                      29
CreamCheese                      17
Name: count, dtype: int64

In [41]:
df["per100grams"].value_counts()

per100grams
100g     1802
100ml     423
Name: count, dtype: int64

# Data cleaning

In [116]:
df_cleaned_names = df.rename(
    {"Cals_per100grams": "calories", "KJ_per100gram": "KJ", "per100grams": "per100" }, axis=1)

df_cleaned_names.head()

  FoodCategory             FoodItem per100 calories KJ_per100grams
0  CannedFruit           Applesauce   100g   62 cal         260 kJ
1  CannedFruit      Canned Apricots   100g   48 cal         202 kJ
2  CannedFruit  Canned Blackberries   100g   92 cal         386 kJ
3  CannedFruit   Canned Blueberries   100g   88 cal         370 kJ
4  CannedFruit      Canned Cherries   100g   54 cal         227 kJ

In [117]:
df_cleaned_names["calories"]

0        62 cal
1        48 cal
2        92 cal
3        88 cal
4        54 cal
         ...
2220    617 cal
2221    233 cal
2222    717 cal
2223    180 cal
2224    286 cal
Name: calories, Length: 2225, dtype: object

In [119]:
df_cleaned_names["calories"] = df_cleaned_names["calories"].str[:-3].astype(int)
df_cleaned_names.head()

  FoodCategory             FoodItem per100  calories KJ_per100grams
0  CannedFruit           Applesauce   100g        62         260 kJ
1  CannedFruit      Canned Apricots   100g        48         202 kJ
2  CannedFruit  Canned Blackberries   100g        92         386 kJ
3  CannedFruit   Canned Blueberries   100g        88         370 kJ
4  CannedFruit      Canned Cherries   100g        54         227 kJ

In [120]:
df_cleaned_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   FoodCategory    2225 non-null   object
 1   FoodItem        2225 non-null   object
 2   per100          2225 non-null   object
 3   calories        2225 non-null   int64
 4   KJ_per100grams  2225 non-null   object
dtypes: int64(1), object(4)
memory usage: 87.0+ KB

In [122]:
df_cleaned_names["per100"].value_counts()

per100
100g     1802
100ml     423
Name: count, dtype: int64

In [123]:
df_cleaned_names["per100"] == "100ml"

0       False
1       False
2       False
3       False
4       False
        ...
2220    False
2221    False
2222    False
2223    False
2224    False
Name: per100, Length: 2225, dtype: bool

In [125]:
df_liquids =  df_cleaned_names[df_cleaned_names["per100"] == "100ml"]
df_liquids.head()

           FoodCategory       FoodItem per100  calories KJ_per100grams
409  Milk&DairyProducts    Almond Milk  100ml        17          71 kJ
410  Milk&DairyProducts     Buttermilk  100ml        62         260 kJ
412  Milk&DairyProducts   Coconut Milk  100ml       230         966 kJ
422  Milk&DairyProducts  Hot Chocolate  100ml        89         374 kJ
423  Milk&DairyProducts          Kefir  100ml        55         231 kJ

data cleaning

In [128]:
df_solids = df_cleaned_names.query("per100 == '100g'")
df_solids.head()

  FoodCategory             FoodItem per100  calories KJ_per100grams
0  CannedFruit           Applesauce   100g        62         260 kJ
1  CannedFruit      Canned Apricots   100g        48         202 kJ
2  CannedFruit  Canned Blackberries   100g        92         386 kJ
3  CannedFruit   Canned Blueberries   100g        88         370 kJ
4  CannedFruit      Canned Cherries   100g        54         227 kJ

# Find top 5 categories of highest calories

In [129]:
df_solids_sorted = df_solids.sort_values(by = "calories", ascending=False )
df_solids_sorted = df_solids_sorted.iloc[:5]
df_solids_sorted

     FoodCategory     FoodItem per100  calories KJ_per100grams
1621        Soups      Goulash   100g      1009        4238 kJ
528     Beef&Veal  Beef Tallow   100g       902        3788 kJ
1761    Oils&Fats         Lard   100g       902        3788 kJ
675          Pork         Lard   100g       898        3772 kJ
599          Meat  Chicken Fat   100g       898        3772 kJ

In [130]:
df_liquids_top5 = df_liquids.sort_values(by = "calories", ascending= False).head()
df_liquids_top5

       FoodCategory        FoodItem per100  calories KJ_per100grams
1751      Oils&Fats   Cod Liver Oil  100ml      1000        4200 kJ
1808  VegetableOils  Wheat Germ Oil  100ml       929        3902 kJ
1789  VegetableOils    Menhaden Oil  100ml       911        3826 kJ
1800  VegetableOils      Salmon Oil  100ml       911        3826 kJ
1771      Oils&Fats     Sardine Oil  100ml       902        3788 kJ

In [138]:
df_top5_categories = df_cleaned_names.groupby("FoodCategory")["calories"].median().sort_values(
    ascending=False
).reset_index().head()

df_top5_categories

             FoodCategory  calories
0           VegetableOils     884.0
1               Oils&Fats     883.0
2              Nuts&Seeds     534.0
3            Candy&Sweets     448.0
4  Oatmeal,Muesli&Cereals     373.5

In [149]:
query = """
SELECT
    FoodCategory,
    MEDIAN(calories) AS median_calories
FROM df_cleaned_names
GROUP BY
    foodcategory
ORDER BY
    median_calories
DESC
LIMIT
    5
"""

print(query)

SELECT
    FoodCategory,
    MEDIAN(calories) AS median_calories
FROM df_cleaned_names
GROUP BY
    foodcategory
ORDER BY
    median_calories
DESC
LIMIT
    5

In [150]:
import duckdb

duckdb.query(query)

┌────────────────────────┬─────────────────┐
│      FoodCategory      │ median_calories │
│        varchar         │     double      │
├────────────────────────┼─────────────────┤
│ VegetableOils          │           884.0 │
│ Oils&Fats              │           883.0 │
│ Nuts&Seeds             │           534.0 │
│ Candy&Sweets           │           448.0 │
│ Oatmeal,Muesli&Cereals │           373.5 │
└────────────────────────┴─────────────────┘

In [155]:
top5_category = duckdb.query(query).df()
top5_category

             FoodCategory  median_calories
0           VegetableOils            884.0
1               Oils&Fats            883.0
2              Nuts&Seeds            534.0
3            Candy&Sweets            448.0
4  Oatmeal,Muesli&Cereals            373.5