# code alongs python fundamentals 1

In [2]:
my_fruit = input()

print(f"i like to eat: {my_fruit}")

i like to eat: mm

In [3]:
age = input("give me your age: ")
print(f"in five years you are {age + 5} age years old")

TypeError: can only concatenate str (not "int") to str

In [7]:
age, type(age)

('33', str)

In [8]:
age = 33
loves_math = True
type(age), age, type(loves_math)

(int, 33, bool)

In [9]:
print(f"{loves_math = }")

loves_math = True

## collections

- list
- tuples
- sets
- dictionary

In [32]:
interests = ["badminton", "yoga", "math", "programming",]


person = ["masoud", 38, True]

person

['masoud', 38, True]

In [33]:
interests

['badminton', 'yoga', 'math', 'programming']

In [34]:
type(person), type(person[1])

(list, int)

In [35]:
interests[1:3]

['yoga', 'math']

In [36]:
interests[-1], interests[::-1]

('programming', ['programming', 'math', 'yoga', 'badminton'])

In [37]:
person.append(interests)
person

['masoud', 38, True, ['badminton', 'yoga', 'math', 'programming']]

In [38]:
person[-1][-2], person[-1][-2][::-1]

('math', 'htam')

In [39]:
persons_intrests = person[-1]
persons_intrests[-2]

'math'

In [40]:
# pythonic
for interest in persons_intrests:
    print(interest)

    #java
    # for int i = 0; i < persons_intrests.length; i++

badminton
yoga
math
programming

In [41]:
 #java
    # for int i = 0; i < persons_intrests.length; i++

print("\nDont do this")
for i in range(len(persons_intrests)):
    print(persons_intrests[i])

Dont do this
badminton
yoga
math
programming

In [42]:
for i, intrest in enumerate(persons_intrests, 1):
    print(i, interest)

1 programming
2 programming
3 programming
4 programming

# list creation
- append
- list comprehension

In [43]:
numbers = []

for i in range(10):
    numbers.append(i)

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [44]:
numbers = [i for i in range(10)]
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
squares = [i**2 for i in numbers]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [50]:
squares = [i**3 for i in numbers]
squares

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [51]:
odd_numbers_squared = [i**2 for i in numbers if i % 2]
odd_numbers_squared

[1, 9, 25, 49, 81]

### Dictionary

- key: value pairs

In [53]:
courses = {
    "python": 40,
    "agile": 15,
    "sql": 30,
    "data_plattform": 40,
    "visualization": 40,
    "data_modelling": 30,
}

courses

{'python': 40,
 'agile': 15,
 'sql': 30,
 'data_plattform': 40,
 'visualization': 40,
 'data_modelling': 30}

In [54]:
courses.keys()

dict_keys(['python', 'agile', 'sql', 'data_plattform', 'visualization', 'data_modelling'])

In [55]:
len(courses.values())

6

In [56]:
courses.values()

dict_values([40, 15, 30, 40, 40, 30])

In [57]:
for course in courses:
    print(course, courses[course])

python 40
agile 15
sql 30
data_plattform 40
visualization 40
data_modelling 30

In [63]:
print(f"{'course':<20} points")
for course, points in courses.items():
    print(f"{course:<20} {points}")

course               points
python               40
agile                15
sql                  30
data_plattform       40
visualization        40
data_modelling       30

## Strings

In [64]:
ml_term = "sUperVised  Learning   "

len(ml_term)

23

In [1]:
" ".join(ml_term.strip().split()).lower()

NameError: name 'ml_term' is not defined